<!DOCTYPE html>
<html>
    <head>
        <title>Todo App</title>
    </head>

    <body>
        <form id='form'>
            <input type='text' name='description' id='description'/>
            <input type='submit' name ='submit' />

        </form>
        <div id='div'>

        </div>
        <ul>
            {% for d in data%}
            <li>{{ d.description }}</li>
            {% endfor %}

        </ul>
        <script>
            var xhttp = new XMLHttpRequest();
            
            document.getElementById('form').onsubmit = function(e){
                desc = document.getElementById('description').value;
                
                xhttp.onreadystatechange = function(){
                    if(this.readyState===4 && this.status===200){
                        var respo = console.log(xhttp.responseText);
                        window.open('http://localhost:5000/');
                    }
                }
                xhttp.open('GET',"/todos/create?description="+desc,true)
                xhttp.send()
                
            };
                

        </script>
    </body>


</html>